:root {
    --bg-dark-green-color: #08a045;
    --bg-green-color: #29bf12;
    --bg-light-green-color: #abff4f;
    --yellow-color: #f3de2c;
    --blue-color: #08bdbd;
    --light-blue-color: #a8d5e2;
    --red-color: #f21b3f;
    --orange-color: #ff9914;
    --while-color: #FFFFFF;
    --bg-1-color: #e8fccf;
    --bg-2-color: #f5fdc6;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
.bg-nav {
    background-color: var(--bg-dark-green-color);
}

.form-search {
    position: relative;
}

.form-search input {
    width: 300px;
    padding-right: 3rem;
}

.form-search button {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #aaa;
    cursor: pointer;
}

.orange-color {
    color: var(--orange-color) !important;
}

.nav {
    width: 94%;
    margin: 0 auto;
    padding: auto;
}

.nav a img {
    height: 60px;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--bg-dark-green-color);
}


.right-div div * {
    margin: 2px;
}

.badge {
    font-size: 0.4em;
    padding: 0.3em 0.5em;
}

a:hover,
.nav-link:hover {
    color: var(--orange-color) !important;
}

header .nav::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 3px;
    background: repeating-linear-gradient(90deg,
            var(--bg-dark-green-color),
            var(--bg-dark-green-color) 33px,
            #fff 33px,
            #fff 35px,
            var(--yellow-color) 35px,
            var(--yellow-color) 68px,
            #fff 68px,
            #fff 70px);
    position: absolute;
    bottom: 0;
    left: 0;
}

/* TOP */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--bg-dark-green-color); /* Màu xanh lá cây */
    color: white; /* Chữ màu trắng */
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#back-to-top:hover {
    background-color: var(--bg-green-color); /* Màu xanh lá cây đậm khi hover */
}

/* FOOTER */

.footer {
    height: auto;
    background-image: url('/assets/image/footer-bg.png');
    background-repeat: repeat-y;
    /* Lặp lại theo chiều dọc */
    /* background-size: contain; Đảm bảo hình ảnh vừa vặn trong phần tử */
    background-position: center top;
    /* Đặt vị trí hình ảnh ở trên cùng, giữa */
    /* min-height: calc(3 * var(--image-height)); Chiều cao tối thiểu gấp đôi chiều cao của hình ảnh */
    padding-top: 220px;
}

.footer p {
    text-align: justify;
}

.footer img {
    height: 75px;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: var(--orange-color) !important;
}

.follow-icon i {
    margin: 4px 10px;
    font-size: 3em;
    color: var(--bg-dark-green-color);
}

.contact-info i {
    margin: 0 10px;
    font-size: 2em;
}

footer {
    position: relative;
    margin-top: 80px;
}

.footer-car {
    position: absolute;
    /* Đặt phần tử con với vị trí tuyệt đối */
    top: -2%;
    left: 40%;
    /* Khoảng cách từ bên trái của phần tử cha */
}

@media (min-width: 1200px) {
    .footer-car {
        top: -10%;
        left: 75%;
        /* Giá trị cho màn hình lớn hơn hoặc bằng 1200px */
        width: 20%;
    }
}

.footer-flower {
    width: 100%;
    position: bottom;
}

.footer *,
footer .nav-link {
    color: var(--while-color);
}

.my-btn {
    background-color: var(--while-color);
    border-color: var(--bg-dark-green-color);
    color: var(--bg-dark-green-color);
}

.my-btn:hover {
    background-color: var(--bg-dark-green-color);
    border-color: var(--while-color);
}

/* HOME PAGE */
.homepage img,
.card {
    border-radius: 15px;
}


h1 {
    margin: 16px 20%;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--bg-dark-green-color);
    color: var(--while-color);
    border-radius: 15px;
}

.sale-box .card {
    height: 250px;
    position: relative;
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.font-card {
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--bg-dark-green-color);
    transition: height 0.5s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.card:hover .font-card {
    height: 70%;
    background-color: rgba(255, 255, 255, 0.95);
}

.hidden {
    display: none;
    transition: display 0.5s ease;
}

.font-card:hover .hidden {
    display: block;
}

.new-price {
    font-size: 27px;
    color: var(--red-color);
}

.old-price {
    font-size: 18px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.font-card p,
.font-card button {
    margin-top: -10px;
}

.font-card button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.font-card button:hover {
    background-color: var(--bg-dark-green-color);
    color: white;
}

.VN-box {
    background-color: var(--bg-1-color);
    margin-top: 60px;
    padding-top: 60px;
    position: relative;
}

.other-box {
    background-color: var(--bg-1-color);
    padding-bottom: 100px;
}

.VN-box h1 {
    position: absolute;
    top: -50px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    cursor: pointer;
    font-size: 1.5em;
}

.heart-icon.clicked {
    color: red;
}

.product-card p {
    color: var(--bg-dark-green-color);
    font-weight: bold;
}

.product-card:hover {
    scale: 1.03;
}

.quality-commitment {
    background-color: var(--bg-2-color);
}

.quality-commitment .logo {
    background-color: var(--bg-2-color);
    width: 300px;
    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
}
.image-box {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .image-box img {
    width: 100%;
    max-width: 300px;
  }
  
  .organic {
    position: absolute;
    width: 170px !important;
    top: 62%;
    left: 35%;
  }
  
  .organic img {
    width: 100%;
    max-width: 170px;
  }
  
.quality-commitment-box{
    padding: auto;
}
.quality-commitment-box h2{
    color: var(--orange-color);
    font-family: 'Nunito', sans-serif;
}

.quality-commitment-box h3{
 color: var(--bg-dark-green-color);
}
@media (max-width: 768px) {
    h2 {
        font-size: large;
    }

    .sale-box {
        min-height: 100vh;
    }

    .quality-commitment-box img{
        width: 270px;
    }

}